<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Players</title>
</head>
<body>
    <h1>ADD YOUR FAVOURITE</h1>
    <form action="/myfav/newPlayers" method="POST">
        <input placeholder="Enter new Player" type="text" name="playername">
        <input placeholder="Enter Position" type="text"  name="playerposition">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>